[submodule "example/freq_server"]
	path = example/freq_server
	url = https://github.com/palas/freq_server.git
[submodule "example/freq_server_test"]
	path = example/freq_server_test
	url = https://github.com/palas/freq_server_test_ma.git
